* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../photo/form_wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form_container {
    display: flex;
    /* height: 90vh; */
    /* background-color: aqua; */
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    /* position: absolute; */
}



@media screen and (max-width:424px) {
    .enter_field {
        margin: 5px;
        padding: 10px;
        font-size: medium;
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        border-bottom: 2PX solid aqua;
    }
    .enter_field input{
        padding: 5px;
        background: none;
        color: whitesmoke;
        border: none;
        outline: none;
    }
    .submitbtn{
        font-size: large;
        padding: 3px;
    }
    .submitbtn:hover{
        box-sizing: border-box;
        border: 2px solid yellow;
        border-radius: 20px;
    }
}

@media screen and (min-width:425px) and (max-width:768px) {
    .enter_field {
        margin: 5px;
        padding: 10px;
        font-size: large;
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        border-bottom: 2PX solid aqua;
    }
    .enter_field input{
        padding: 10px;
        background: none;
        color: whitesmoke;
        border: none;
        outline: none;
    }
    .submitbtn{
        font-size: x-large;
        padding: 3px;
    }
    .submitbtn:hover{
        box-sizing: border-box;
        border: 2px solid yellow;
        border-radius: 20px;
    }
}

@media screen and (min-width:769px) {
    .enter_field {
        margin: 5px;
        padding: 10px;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        border-bottom: 2PX solid aqua;
    }
    .enter_field input{
        padding: 15px;
        background: none;
        color: whitesmoke;
        border: none;
        outline: none;
    }
    .submitbtn{
        font-size: xx-large;
        padding: 3px;
    }
    .submitbtn:hover{
        box-sizing: border-box;
        border: 2px solid yellow;
        border-radius: 20px;
    }
}